# Only these owners can approve pull requests on this repo
* @flira_meli @ext-igcandid_meli @ext-memgabri_meli @albalmeida_meli @ext-anlferna_meli @klucena_meli @skhalil_meli @ltucillo_meli @tcidre_meli
