<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
        colors="true">
    <testsuites>
        <testsuite name="unit">
            <directory>Tests</directory>
        </testsuite>
    </testsuites>
     <logging>
        <log type="testdox-text" target="testdox.txt"/>
    </logging>
</phpunit>
