<?xml version="1.0"?>
<!--
/**
 * Copyright © MercadoPago. All rights reserved.
 *
 * @author      Bruno Elisei <brunoelisei@o2ti.com>
 * @license     See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_model_service_quote_submit_before">
        <observer name="finance_cost_amount" instance="MercadoPago\PaymentMagento\Observer\CovertFinanceCostToOrderObserver" />
    </event>
    <event name="payment_method_assign_data_mercadopago_paymentmagento_cc">
        <observer name="mercadopago_paymentmagento_cc_data_assign" instance="MercadoPago\PaymentMagento\Observer\DataAssignObserverCc" />
    </event>
    <event name="payment_method_assign_data_mercadopago_paymentmagento_twocc">
        <observer name="mercadopago_paymentmagento_twocc_data_assign" instance="MercadoPago\PaymentMagento\Observer\DataAssignObserverTwoCc" />
    </event>
    <event name="payment_method_assign_data_mercadopago_paymentmagento_cc_vault">
        <observer name="mercadopago_paymentmagento_cc_vault_data_assign" instance="MercadoPago\PaymentMagento\Observer\DataAssignObserverCcVault" />
    </event>
    <event name="payment_method_assign_data_mercadopago_paymentmagento_payment_methods_off">
        <observer name="mercadopago_paymentmagento_payment_methods_of_data_assign" instance="MercadoPago\PaymentMagento\Observer\DataAssignCheckoutCustomObserver" />
    </event>
    <event name="payment_method_assign_data_mercadopago_paymentmagento_pec">
        <observer name="mercadopago_paymentmagento_pec_data_assign" instance="MercadoPago\PaymentMagento\Observer\DataAssignCheckoutCustomObserver" />
    </event>
    <event name="payment_method_assign_data_mercadopago_paymentmagento_pix">
        <observer name="mercadopago_paymentmagento_pix_data_assign" instance="MercadoPago\PaymentMagento\Observer\DataAssignCheckoutCustomObserver" />
    </event>
    <event name="payment_method_assign_data_mercadopago_paymentmagento_pse">
        <observer name="mercadopago_paymentmagento_pse_data_assign" instance="MercadoPago\PaymentMagento\Observer\DataAssignCheckoutCustomObserver" />
    </event>
    <event name="payment_method_assign_data_mercadopago_paymentmagento_webpay">
        <observer name="mercadopago_paymentmagento_webpay_data_assign" instance="MercadoPago\PaymentMagento\Observer\DataAssignCheckoutCustomObserver" />
    </event>
    <event name="order_cancel_after">
        <observer name="mercadopago_paymentmagento_order_cancel_after" instance="MercadoPago\PaymentMagento\Observer\OrderCancelAfterObserver" />
    </event>
</config>
