<?xml version="1.0"?>
<!--
/**
 * Copyright © MercadoPago. All rights reserved.
 *
 * @author      Bruno Elisei <brunoelisei@o2ti.com>
 * @license     See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_model_service_quote_submit_before">
        <observer name="finance_cost_amount" instance="MercadoPago\PaymentMagento\Observer\CovertFinanceCostToOrderObserver" />
    </event>
    <event name="payment_method_assign_data_mercadopago_paymentmagento_cc">
        <observer name="mercadopago_paymentmagento_cc_data_assign" instance="MercadoPago\PaymentMagento\Observer\DataAssignObserverCc" />
    </event>
    <event name="payment_method_assign_data_mercadopago_paymentmagento_cc_vault">
        <observer name="mercadopago_paymentmagento_cc_vault_data_assign" instance="MercadoPago\PaymentMagento\Observer\DataAssignObserverCcVault" />
    </event>
    <event name="payment_method_assign_data_mercadopago_paymentmagento_boleto">
        <observer name="mercadopago_paymentmagento_boleto_data_assign" instance="MercadoPago\PaymentMagento\Observer\DataAssignCheckoutCustomObserver" />
    </event>
    <event name="payment_method_assign_data_mercadopago_paymentmagento_pec">
        <observer name="mercadopago_paymentmagento_pec_data_assign" instance="MercadoPago\PaymentMagento\Observer\DataAssignCheckoutCustomObserver" />
    </event>
    <event name="payment_method_assign_data_mercadopago_paymentmagento_pix">
        <observer name="mercadopago_paymentmagento_pix_data_assign" instance="MercadoPago\PaymentMagento\Observer\DataAssignCheckoutCustomObserver" />
    </event>
    <event name="payment_method_assign_data_mercadopago_paymentmagento_pagofacil">
        <observer name="mercadopago_paymentmagento_pagofacil_data_assign" instance="MercadoPago\PaymentMagento\Observer\DataAssignCheckoutCustomObserver" />
    </event>
    <event name="payment_method_assign_data_mercadopago_paymentmagento_rapipago">
        <observer name="mercadopago_paymentmagento_rapipago_data_assign" instance="MercadoPago\PaymentMagento\Observer\DataAssignCheckoutCustomObserver" />
    </event>
    <event name="payment_method_assign_data_mercadopago_paymentmagento_paycash">
        <observer name="mercadopago_paymentmagento_paycash_data_assign" instance="MercadoPago\PaymentMagento\Observer\DataAssignCheckoutCustomObserver" />
    </event>
    <event name="payment_method_assign_data_mercadopago_paymentmagento_oxxo">
        <observer name="mercadopago_paymentmagento_oxxo_data_assign" instance="MercadoPago\PaymentMagento\Observer\DataAssignCheckoutCustomObserver" />
    </event>
    <event name="payment_method_assign_data_mercadopago_paymentmagento_efecty">
        <observer name="mercadopago_paymentmagento_efecty_data_assign" instance="MercadoPago\PaymentMagento\Observer\DataAssignCheckoutCustomObserver" />
    </event>
    <event name="payment_method_assign_data_mercadopago_paymentmagento_abitab">
        <observer name="mercadopago_paymentmagento_abitab_data_assign" instance="MercadoPago\PaymentMagento\Observer\DataAssignCheckoutCustomObserver" />
    </event>
    <event name="payment_method_assign_data_mercadopago_paymentmagento_redpagos">
        <observer name="mercadopago_paymentmagento_redpagos_data_assign" instance="MercadoPago\PaymentMagento\Observer\DataAssignCheckoutCustomObserver" />
    </event>
    <event name="payment_method_assign_data_mercadopago_paymentmagento_pse">
        <observer name="mercadopago_paymentmagento_pse_data_assign" instance="MercadoPago\PaymentMagento\Observer\DataAssignCheckoutCustomObserver" />
    </event>
    <event name="payment_method_assign_data_mercadopago_paymentmagento_banamex">
        <observer name="mercadopago_paymentmagento_banamex_data_assign" instance="MercadoPago\PaymentMagento\Observer\DataAssignCheckoutCustomObserver" />
    </event>
    <event name="payment_method_assign_data_mercadopago_paymentmagento_bancomer">
        <observer name="mercadopago_paymentmagento_bancomer_data_assign" instance="MercadoPago\PaymentMagento\Observer\DataAssignCheckoutCustomObserver" />
    </event>
    <event name="payment_method_assign_data_mercadopago_paymentmagento_serfin">
        <observer name="mercadopago_paymentmagento_serfin_data_assign" instance="MercadoPago\PaymentMagento\Observer\DataAssignCheckoutCustomObserver" />
    </event>
    <event name="payment_method_assign_data_mercadopago_paymentmagento_pagoefectivo">
        <observer name="mercadopago_paymentmagento_pagoefectivo_data_assign" instance="MercadoPago\PaymentMagento\Observer\DataAssignCheckoutCustomObserver" />
    </event>
    <event name="payment_method_assign_data_mercadopago_paymentmagento_webpay">
        <observer name="mercadopago_paymentmagento_webpay_data_assign" instance="MercadoPago\PaymentMagento\Observer\DataAssignCheckoutCustomObserver" />
    </event>
    <event name="order_cancel_after">
        <observer name="mercadopago_paymentmagento_order_cancel_after" instance="MercadoPago\PaymentMagento\Observer\OrderCancelAfterObserver" />
    </event>
</config>
