<ul id="mercadopago-payment-methods-ticket">
    <!-- ko foreach: {data: getPaymentMethodsOffActive(), as: 'paymentMethod'} -->
        <li class="mercadopago-ticket-option">
            <input type="radio" class="optionsTicketMp" name="paymentMethodsOff" data-bind="'attr':{ id: paymentMethod['value'], value: paymentMethod['value'], payment_type_id: paymentMethod['payment_type_id']}" />
            <label class="mercadopago-ticket-label" data-bind="'attr':{ for: paymentMethod['value'] }">
                <div class="mp-payment-method-logo-container">
                    <img data-bind="'attr':{src: paymentMethod['logo'], alt: paymentMethod['label']}" class="img-fluid mp-payment-method-logo-image" />
                </div>
                <span class="mercadopago-ticket-label" data-bind="text: paymentMethod['label']"></span>
            </label>
        </li>
    <!--/ko-->
</ul>
