
<!-- ko if: (getCountPaymentMethodsOffActive() === 0)-->
    <div style="margin-bottom: 10px;">
        <span data-bind="text: $t('There are no payment methods available, please contact the seller.')"></span>
    </div>
<!-- /ko -->

<!-- ko if: (getCountPaymentMethodsOffActive() !== 0)-->
    <!-- ko if: NameCapture() || DocumentIdentificationCapture() -->
        <fieldset data-bind="attr: {class: 'fieldset payment items', id: 'payment_form_payer_persona' + getCode()}">
            <!-- ko if: NameCapture() -->
                <div class="field mercadopago-input-group payer first-name required">
                    <div class="control">
                        <input type="text" name="payment[payer_first_name]" class="input-text" value=""
                                data-bind="attr: {
                                                autocomplete: 'firstname',
                                                id: getCode() + '_payer_first_name',
                                                title: $t('Payer First Name'),
                                                placeholder: $t('Payer First Name'),
                                                'data-container': getCode() + '-payer-first-name',
                                                'data-validate': JSON.stringify({'required':true})},
                                            enable: isActive($parents),
                                            value: payerFirstName,
                                            valueUpdate: 'keyup' "></input>
                        <label data-bind="attr: {for: getCode() + '_payer_first_name'}" class="label">
                            <span><!-- ko i18n: 'Payer First Name'--><!-- /ko --></span>
                        </label>
                    </div>
                </div>
                <div class="field mercadopago-input-group payer last-name required">
                    <div class="control">
                        <input type="text" name="payment[payer_last_name]" class="input-text" value=""
                            data-bind="attr: {
                                                autocomplete: 'lastname',
                                                id: getCode() + '_payer_last_name',
                                                title: $t('Payer Last Name'),
                                                placeholder: $t('Payer Last Name'),
                                                'data-container': getCode() + '-payer-last-name',
                                                'data-validate': JSON.stringify({'required':true})},
                                        enable: isActive($parents),
                                        value: payerLastName,
                                        valueUpdate: 'keyup' "></input>
                        <label data-bind="attr: {for: getCode() + '_payer_last_name'}" class="label">
                            <span><!-- ko i18n: 'Payer Last Name'--><!-- /ko --></span>
                        </label>
                    </div>
                </div>
            <!-- /ko -->

            <!-- ko if: DocumentIdentificationCapture() -->
                <div class="field mercadopago-input-group payer-document-type document-type">
                    <div class="control">
                        <select class="select select-payer-document-type" name="payment[payer_document_type]"
                                data-bind="
                                    attr: {
                                        autocomplete: 'off',
                                        id: getCode() + '_payer_document_type',
                                        'data-container': getCode() + '-payer-document-type',
                                        'data-validate': JSON.stringify({required:true})
                                    },
                                    enable: isActive($parents),
                                    options: mpPayerOptionsTypes(),
                                    optionsValue: 'id',
                                    optionsText: 'name',
                                    optionsCaption: $t('Document Type'),
                                    value: mpPayerType">
                        </select>
                        <label data-bind="attr: {for: getCode() + '_payer_document_type'}" class="label">
                            <span><!-- ko i18n: 'Document Type' --><!-- /ko --></span>
                        </label>
                    </div>
                </div>
                <div class="field mercadopago-input-group holder document-identification document-number">
                    <div class="control">
                        <input type="text" name="payment[payer_document_identification]" class="input-text"
                                data-bind="attr: {
                                                autocomplete: 'taxvat',
                                                id: getCode() + '_document_identification',
                                                title: $t('Document number'),
                                                placeholder: $t('Document number'),
                                                'data-container': getCode() + '-document-identification',
                                                'data-validate': JSON.stringify(getValidationForDocument())
                                            },
                                            enable: isActive($parents),
                                            value: mpPayerDocument,
                                            valueUpdate: 'keyup' "></input>
                        <label data-bind="attr: {for: getCode() + '_document_identification'}" class="label">
                            <span><!-- ko i18n: 'Document number'--><!-- /ko --></span>
                        </label>
                    </div>
                </div>
            <!-- /ko -->
        </fieldset>
    <!-- /ko -->

    <fieldset data-bind="attr: {class: 'fieldset payment items', id: 'payment_form_payer_' + getCode()}">
        <div class="field-to-pay"  data-bind="css: { _hidden:isPlaceOrderActionAllowed() }">
            <p class="not-editable-title"><!-- ko i18n: 'Waiting...'--><!-- /ko --></p>
        </div>

        <div class="field-to-pay" data-bind="css: { _hidden:!isPlaceOrderActionAllowed() }">
            <fieldset data-bind="attr: {class: 'fieldset payment items mercadopago_checkout_custom_payment_methods_off', id: 'payment_form_options_' + getCode()}">
                <ul id="payment-methods-off">
                    <!-- ko foreach: {data: getPaymentMethodsOff(), as: 'paymentMethod'} -->
                        <li class="payment-methods-off-option">
                            <input type="radio" class="payment-methods-off-input" name="payment[payment_methods_off]" data-bind="'attr':{ 
                                id: paymentMethod['value'], 
                                value: paymentMethod['value'], 
                                payment_method_id: paymentMethod['payment_method_id'], 
                                payment_type_id: paymentMethod['payment_type_id'], 
                                payment_option_id: paymentMethod['payment_option_id'], 
                                'data-validate': JSON.stringify({ 'validate-one-required-by-name':true })
                            }" />
                            <label class="payment-methods-off-label" data-bind="'attr':{ for: paymentMethod['value'] }">
                                <div class="payment-methods-off-logo-container">
                                    <img data-bind="'attr':{src: paymentMethod['logo'], alt: paymentMethod['label']}" class="img-fluid payment-methods-off-logo-image" />
                                </div>
                                <span class="payment-methods-off-label" data-bind="text: paymentMethod['label']"></span>
                            </label>
                        </li>
                    <!--/ko-->
                </ul>
            </fieldset>

            <!-- ko if: getExpiration() -->
            <dl class="items check payable">
                <dt class="title"><!-- ko i18n: 'Due date' --><!-- /ko --></dt>
                <dd class="content">
                    <address class="due address" data-bind="html: getExpiration()"></address>
                </dd>
            </dl>
            <!-- /ko -->
        </div>
    </fieldset>
<!-- /ko -->
