<?xml version="1.0"?>
<!--
/**
 * Copyright © MercadoPago. All rights reserved.
 *
 * @author      Mercado Pago
 * @license     See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_system_config_changed_section_payment">
        <observer name="mercadopago_adbpayment_fetch_merchant_data" instance="MercadoPago\AdbPayment\Observer\ChangeConfigModule" />
    </event>
</config>
